.hora_select {
  max-width: 200px;
}
.grid-ingreso {
    display: grid;
    grid-template-columns: 0.5fr 2fr 3fr 2fr 1fr 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "item lote proveedor piscina llegada fecha bines libras";
  }
  
  .item { grid-area: item; }
  
  .lote { grid-area: lote; }
  
  .proveedor { grid-area: proveedor; }
  
  .piscina { grid-area: piscina; }
  
  .llegada { grid-area: llegada; }

  .fecha { grid-area: fecha; }
  
  .bines { grid-area: bines; }
  
  .libras { grid-area: libras; }
  

  .grid-programa {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 2fr 3fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "itemp proveedorp productop cantidadp piscinap lotep llegadap";
  }
  
  .itemp { grid-area: itemp; }
    
  .proveedorp { grid-area: proveedorp; }
  
  .productop { grid-area: productop; }

  .cantidadp { grid-area: cantidadp; }

  .piscinap { grid-area: piscinap; }
  
  .lotep { grid-area: lotep; }

  .llegadap { grid-area: llegadap; }

