/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.hora_select {
  max-width: 200px;
}
.grid-ingreso {
    display: grid;
    grid-template-columns: 0.5fr 2fr 3fr 2fr 1fr 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "item lote proveedor piscina llegada fecha bines libras";
  }
  
  .item { grid-area: item; }
  
  .lote { grid-area: lote; }
  
  .proveedor { grid-area: proveedor; }
  
  .piscina { grid-area: piscina; }
  
  .llegada { grid-area: llegada; }

  .fecha { grid-area: fecha; }
  
  .bines { grid-area: bines; }
  
  .libras { grid-area: libras; }
  

  .grid-programa {
    display: grid;
    grid-template-columns:3fr 2fr 2fr 3fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "proveedorp productop cantidadp piscinap lotep llegadap";
  }
  
  .itemp { grid-area: itemp; }
    
  .proveedorp { grid-area: proveedorp; }
  
  .productop { grid-area: productop; }

  .cantidadp { grid-area: cantidadp; }

  .piscinap { grid-area: piscinap; }
  
  .lotep { grid-area: lotep; }

  .llegadap { grid-area: llegadap; }

  .grid-mprima {
    
    display: grid;
    grid-template-columns:3fr 1.5fr 2fr 1.5fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "proveedormp productomp cantidadmp recibidomp piscinamp lotemp llegadamp";
  }


  
    
  .proveedormp { grid-area: proveedormp; }
  
  .productomp { grid-area: productomp; }

  .cantidadmp { grid-area: cantidadmp; }

  .recibidommp { grid-area: recibidomp; }

  .piscinamp { grid-area: piscinamp; }
  
  .lotemp { grid-area: lotemp; }

  .llegadamp { grid-area: llegadamp; }


  .fechaProgramacion {
    background-color: rgb(218, 150, 148);
  }
  